
.navbar {
    background-color: #76D7C4; 
}

.quem-somos {
    background-color: #1ABC9C;
}

.margin {
   padding-top: 30px;
   padding-bottom: 50px;
   padding-top: 10px;
}
.parceiros {
    background-color: #0E6655; 
}
.bg-footer{
    background-color: #0B5345 ;
    color: white
}